.app {
    width: 85em;
    height: 90%;

    border: 1px solid lightgray;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    gap: 1em;

    > .form {
        flex: 1;
        padding: 1em;

        .dimension {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }

        .inline {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;
            justify-content: space-between;
        }
    }

    > .summary {
        padding: 1em;

        flex: initial;
        width: 30em;
    }
}
