.app {
    width: 90%;
    height: 90%;

    border: 1px solid lightgray;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    > .form {
        flex: 1;
    }

    > .summary {
        flex: initial;
        width: 30em;
        background: purple;
    }
}
