.app {
    width: 90%;
    height: 90%;

    border: 1px solid lightgray;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    > .form {
        flex: 1;
        padding: 1em;

        .dimension {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }
    }

    > .summary {
        flex: initial;
        width: 30em;
        background: purple;
    }
}
